<div class="hf-image-upload">
  <input
    #fileInput
    type="file"
    accept="image/*"
    class="hf-image-upload-input"
    (change)="onFileSelected($event)" />

  <div
    *ngIf="previewSrc"
    class="hf-image-preview">
    <img
      [src]="previewSrc"
      alt="Uploaded Hugging Face task input" />
    <div class="hf-image-meta">
      <span>{{ displayFileName || "Selected image" }}</span>
      <button
        nz-button
        nzSize="small"
        type="button"
        (click)="clearImage(fileInput)">
        Clear
      </button>
    </div>
  </div>

  <div
    *ngIf="errorMessage"
    class="hf-image-error">
    {{ errorMessage }}
  </div>
</div>
